@import './base.css';
@import 'primeicons/primeicons.css';


/**
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}*/
.mainContent{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2%;

  font-weight: normal;
}

a,
.green {
  text-decoration:none;
  font-weight: bold;
  color: black;
  transition: 0.4s;
}
/*
.grey{
  background-color: #646464;
  
}*/
.yellow{
  background-color: #FFC700;
  border-radius: 25px;
  padding: 2%;
}

.yellow_div{
  background-color: #FFC700;
  border-radius: 25px;
  padding: 5%;
  margin: 5%;
}

.white_div{
  background-color: white;
  border-radius: 25px;
  padding: 5%;
  margin: 0 5%;
  
  vertical-align: top;
 
}

.medagliere{
  background-image: url("./images/sfondo.jpg");
  background-size: cover;
    
  /*
  background-size: contain;
  background-repeat: no-repeat;
  */
}



.medagliereGrid{
  display: grid;
  grid-template-columns: 1fr ;
  gap: 3% 0;
  height: 120%;
  word-break: break-all;
  overflow:none;
  /*
  background-color: yellow;
  border-radius: 20px;*/
}

.gridMedglie{
  height: 120%;
  word-break: break-all;
  overflow:none;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));/*1fr 1fr 1fr 1fr;*/
  /*grid-template-columns: repeat(4, minmax(0, 3fr));/*2fr 2fr 2fr 2fr;
  grid-auto-rows: minmax(min-content, max-content);*/
  padding-left: 5%;
  
  padding-right: 5%;
  padding-top: 7%;
  
  gap: 25% 5%;
}




@media (hover: hover) {
  a:hover {
    background-color:#ffc800c5;/* hsla(160, 100%, 37%, 0.2);*/
  }
}

@media (min-width: 1024px) {


/*
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }*/
/*
  body {
    display: flex;
    place-items: center;
  }

  .mainContent{
    padding: 2%;
  }
  */
  #app {
    width: 100%;
  /**  display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;*/
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5% 5%;
  }
  .medagliereGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15% 0;
    height: 103%;
    word-break: break-all;
    overflow:none;
    /*
    background-color: yellow;
    border-radius: 20px;*/
  }

  .gridMedglie{
    height: 120%;
    /*word-break: break-all;*/
    overflow:none;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));/*1fr 1fr 1fr 1fr;*/
    /*grid-template-columns: repeat(4, minmax(0, 3fr));/*2fr 2fr 2fr 2fr;
    grid-auto-rows: minmax(min-content, max-content);*/
    padding-left: 5%;
    padding-top: 8%;
    gap: 30% 5%;
  }

  .yellow_div{
    justify-content: right;
    display: flex;
  }
  .white_div{
    display: inline-block;
    /*width: 50%;*/
    /*position: relative;
    right: 0;*/
    margin-right: 0;
  }
}
