@import './base.css';
@import 'primeicons/primeicons.css';


.mainContent{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2%;

  font-weight: normal;
}

a,
.green {
  text-decoration:none;
  font-weight: bold;
  color: black;
  transition: 0.4s;
}

.yellow{
  background-color: #FFC700;
  border-radius: 25px;
  padding: 2%;
}

.grey{
  background-color: #191919;
  border-radius: 25px;
  padding: 2%;
}

.yellow_div{
  background-color: #FFC700;
  border-radius: 25px;
  padding: 5%;
  margin: 5%;
}

.white_div{
  background-color: white;
  border-radius: 25px;
  padding: 5%;
  margin: 0 5%;
  
  vertical-align: top;
 
}

.medagliere_to_pad{
  margin: 10% 0;
}

.medagliere{
  background-image: url("./images/sfondo.jpg");
  background-size: cover;

}
.medagliere_speciale_to_pad{
  background-image: url("./images/sfondo.jpg");
  background-size: cover;
  padding: 0 0 10% ;
}


.medagliereGrid{
  display: grid;
  grid-template-columns: 1fr ;
  height: 120%;
  word-break: break-all;
  /*overflow:none;*/
}

.gridMedglie, .gridMedglieSpeciali{
  height: 120%;
  word-break: break-all;
  /*overflow:none;*/
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 7%;
  gap: 25% 5%;
}




@media (hover: hover) {
  a:hover {
    background-color:#ffc800c5;
  }
}

@media (min-width: 767px) {

  #app {
    width: 100%;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5% 5%;
  }
  .medagliereGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*gap: 15% 0;*/
    height: 103%;
    word-break: break-all;
    /*overflow:none;*/
    
  }



  .gridMedglie{
    height: 120%;
    /*overflow:none;*/
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-left: 5%;
    padding-top: 8%;
    gap: 30% 5%;
  }

  .gridMedglieSpeciali{
    height: 120%;
    /*overflow:none;*/
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 8% 5% 8%;
    gap: 10% 5%;
  }

  .yellow_div{
    justify-content: right;
    display: flex;
  }
  .white_div{
    display: inline-block;
    
    margin-right: 0;
  }

  .medagliere_speciale_to_pad{
    background-image: url("./images/sfondo.jpg");
    background-size: cover;
    padding: 0 0 ;
    margin: 0 30%;
  }
}
